.nav-container{
    margin: 0 auto;
    width: 85%;
    background-color: aquamarine;
    padding: .7rem;
}
.nav-title-link{
    text-decoration: none;
    color: white;
    margin-top: 2rem;
    font-size: 4rem;
    font-weight: bold;
}