.nav-container{
    margin: 0 auto;
    width: auto;
    background-color: aquamarine;
}
.nav-title-link{
    text-decoration: none;
    color: inherit;
}

.nav-title{
    margin: 0;
    padding: .6rem;
    font-size: 3rem;
}